.page {
  height: 300px;
}
.prompt {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}
.title {
  font-size: 5rem;
  font-weight: bold;
  color: blue;
  display: flex;
  justify-content: center;
  border-top: 0px;
}
.body {
  background-color: green;
}
.container {
  display: flex;
  justify-content: center;
}
.dice1 {
  padding-right: 100px;
}
.dice2 {
  padding-left: 100px;
}
#button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.roll {
  font-size: 50px;
  color: white;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 100px;
  width: 200px;
}
